

.colorButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.colorButton:hover {
    transform: scale(1.1);
}
.palette {
    display: flex;
    gap: 8px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 10;
}
